*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*FINHEAD*/

/*MAIN*/

/*FOOTER*/

footer{
margin: 0 auto;
text-align: center;
}

.mentions{
    text-decoration: none;
    color: blue;
}



